<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" data-edit="img">
        <section class="header-details flexrow">
            <h1 class="charname">
                <input class="name" type="text" value="{{actor.name}}" placeholder="{{localize ELITYAWORLD.ActorName}}"/>
            </h1>

            <aside class="header-exp flexcol">
                <div class="charlevel" title="level">
                    <label>{{localize ELITYAWORLD.Level}} {{system.attributes.level}}</label>
                </div>

                <div class="experience flexrow">
                    {{numberInput system.attributes.experience.value name="system.attributes.experience.value" placeholder="0"}}
                    <span class="sep">/</span>
                    <span class="xp-next">{{system.attributes.experience.next}}</span>
                </div>
            </aside>

            {{!-- character summary --}}
            <ul class="summary flexrow">
                <li>
                    <input type="text" name="system.details.race" value="{{system.details.race}}" placeholder="{{localize ELITYAWORLD.Race}}"/>
                </li>
                <li>
                    <input type="text" name="system.details.age" value="{{system.details.age}}" placeholder="{{localize ELITYAWORLD.Age}}" />
                </li>
                <li>
                   <input type="text" name="system.details.sex" value="{{system.details.sex}}" placeholder="{{localize ELITYAWORLD.Sex}}"/> 
                </li>
                <li>
                    <input type="text" name="system.details.height" value="{{system.details.height}}" placeholder="{{ localize ELITYAWORLD.Height}}">
                </li>
            </ul>

            {{!--Header attributes --}}
            <ul class="attributes flexrow">
                <li class="attributes health">
                    <h4 class="attributes-name box-title">{{localize ELITYAWORLD.HitPoints}}</h4>
                    <div class="attributes-value multiple">
                        <input type="number" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}" placeholder="10" title="{{localize ELITYAWORLD.HitPointsCurrent }}" step="any">
                        <span class="sep">/</span>
                        <input type="numer" name="system.attributes.hp.max" value="{{system.attibutes.hp.max}}" placeholder="10" title="{{localize ELITYAWORLD.HitPointsMax}}" step="any">
                    </div>
                </li>
                <li class="attributes mana">
                    <h4 class="attributes-name box-title">{{localize ELITYAWORLD.Mana}}</h4>
                    <div class="attributes-value multiple">
                        <input type="number" name="system.attributes.mana.value" value="{{system.attributes.mana.value}}" placeholder="10" title="{{localize ELITYAWORLD.ManaCurrent }}" step="any">
                        <span class="sep">/</span>
                        <input type="numer" name="system.attributes.mana.max" value="{{system.attibutes.mana.max}}" placeholder="10" title="{{localize ELITYAWORLD.ManaMax}}" step="any">
                    </div>
                </li>
                <li class="attributes endurance">
                    <h4 class="attributes-name box-title">{{localize ELITYAWORLD.Endurance}}</h4>
                    <div class="attributes-value multiple">
                        <input type="number" name="system.attributes.endurance.value" value="{{system.attributes.endurance.value}}" placeholder="10" title="{{localize ELITYAWORLD.EnduranceCurrent }}" step="any">
                        <span class="sep">/</span>
                        <input type="numer" name="system.attributes.endurance.max" value="{{system.attibutes.endurance.max}}" placeholder="10" title="{{localize ELITYAWORLD.EnduranceMax}}" step="any">
                    </div>
                </li>
            </ul>
        </section>
    </header>

    {{!--Character sheet navigation--}}

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{localize ELITYAWORLD.attributes}}</a>
        <a class="item" data-tab="inventory">{{localize ELITYAWORLD.Inventory}}</a>
        <a class="item" data-tab="spells">{{localize ELITYAWORLD.Spells}}</a>
        <a class="item" data-tab="biography">{{localize ELITYAWORLD.Biography}}</a>
    </nav>

    <section class="sheet-body">
        <div class="abilities-block">
            {{> "systems/elitya-world/templates/actor/parts/actor-ability-block.hbs"}}
        </div>
    </section>

</form>