<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" data-edit="img">
        <section class="header-details flexrow">
            <h1 class="charname">
                <input class="name" name="name" type="text" value="{{actor.name}}" placeholder="{{localize "ELITYAWORLD.ActorName"}}"/>
            </h1>

            <aside class="header-exp flexcol">
                <div class="charlevel" title="level">
                    <label>{{localize "ELITYAWORLD.Level"}} {{system.attributes.level}}</label>
                </div>

                <div class="experience flexrow">
                    {{numberInput system.attributes.experience.value name="system.attributes.experience.value" placeholder="0"}}
                    <span class="sep">/</span>
                    <span class="xp-next">{{system.attributes.experience.next}}</span>
                </div>
            </aside>

            {{!-- character summary --}}
            <ul class="summary flexrow">
                <li>
                    <input type="text" name="system.details.race" value="{{system.details.race}}" placeholder="{{localize "ELITYAWORLD.Race"}}"/>
                </li>
                <li>
                    <input type="text" name="system.details.age" value="{{system.details.age}}" placeholder="{{localize "ELITYAWORLD.Age"}}" />
                </li>
                <li>
                   <input type="text" name="system.details.sex" value="{{system.details.sex}}" placeholder="{{localize "ELITYAWORLD.Sex"}}"/> 
                </li>
                <li>
                    <input type="text" name="system.details.height" value="{{system.details.height}}" placeholder="{{ localize "ELITYAWORLD.Height"}}">
                </li>
            </ul>

            {{!--Header attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{localize 'ELITYAWORLD.HitPoints'}}</h4>
                    <div class="attribute-value multiple">
                        <input type="number" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}" placeholder="100" title="{{localize "ELITYAWORLD.HitPointsCurrent" }}" step="any">
                        <span class="sep">/</span>
                        <input type="number" name="system.attributes.hp.max" value="{{system.attributes.hp.max}}" placeholder="100" title="{{localize "ELITYAWORLD.HitPointsMax"}}" step="any">
                    </div>
                </li>
                <li class="attribute mana">
                    <h4 class="attribute-name box-title">{{localize 'ELITYAWORLD.Mana'}}</h4>
                    <div class="attribute-value multiple">
                        <input type="number" name="system.attributes.mana.value" value="{{system.attributes.mana.value}}" placeholder="100" title="{{localize "ELITYAWORLD.ManaCurrent" }}" step="any">
                        <span class="sep">/</span>
                        <input type="number" name="system.attributes.mana.max" value="{{system.attributes.mana.max}}" placeholder="100" title="{{localize "ELITYAWORLD.ManaMax"}}" step="any">
                    </div>
                </li>
                <li class="attribute endurance">
                    <h4 class="attribute-name box-title">{{localize 'ELITYAWORLD.Endurance'}}</h4>
                    <div class="attribute-value multiple">
                        <input type="number" name="system.attributes.endurance.value" value="{{system.attributes.endurance.value}}" placeholder="100" title="{{localize "ELITYAWORLD.EnduranceCurrent" }}" step="any">
                        <span class="sep">/</span>
                        <input type="number" name="system.attributes.endurance.max" value="{{system.attributes.endurance.max}}" placeholder="100" title="{{localize "ELITYAWORLD.EnduranceMax"}}" step="any">
                    </div>
                </li>
            </ul>
        </section>
    </header>

    {{!--Character sheet navigation--}}

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{localize "ELITYAWORLD.Attributes"}}</a>
        <a class="item" data-tab="inventory">{{localize "ELITYAWORLD.Inventory"}}</a>
        <a class="item" data-tab="spells">{{localize "ELITYAWORLD.Spells"}}</a>
        <a class="item" data-tab="biography">{{localize "ELITYAWORLD.Biography"}}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">
            <div class="abilities-block">
                {{> "systems/elitya-world/templates/actor/parts/actor-ability-block.hbs"}}
            </div>
            <div class="skill-block">
                {{> "systems/elitya-world/templates/actor/parts/actor-skill-list.hbs"}}
            </div>
            <section class="center-pane flexcol">
                <div class="attribute mental">
                    <h4 class="attribute-name box-title" >{{localize "ELITYAWORLD.MentalHealth"}}</h4>
                    {{numberInput system.attributes.mentalHealth.value name="system.attributes.mentalHealth.value" placeholder="0" class="attribute-mental-value"}}
                </div>
                <div class="traits special-traits">
                    <label>{{localize "ELITYAWORLD.SpecialTraits"}}</label>
                    <textarea name="system.traits.special.custom">{{system.traits.special.custom}}</textarea>
                </div>
                <div class="traits languages">
                    <label>{{localize "ELITYAWORLD.Languages"}}</label>
                    <textarea name="system.traits.languages.custom">{{system.traits.languages.custom}}</textarea>
                </div>
                <div class="traits religion">
                    <label>{{localize "ELITYAWORLD.Religion"}}</label>
                    <textarea name="system.traits.religion">{{system.traits.religion}}</textarea>
                </div>
            </section>
        </div>

        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/elitya-world/templates/actor/parts/actor-inventory.hbs"}}
        </div>

        <div class="tab spells flexcol" data-group="primary" data-tab="spells">
            {{log this}}
            {{> "systems/elitya-world/templates/actor/parts/actor-spellbook.hbs"}}
        </div>

        <div class="tab details flexrow" data-group="primary" data-tab="biography">
            <div class="characteristics flexcol">
                <label>{{ localize "ELITYAWORLD.Appearance" }}</label>
                <textarea name="system.details.appearance">{{system.details.appearance}}</textarea>
                <label>{{ localize "ELITYAWORLD.Personality" }}</label>
                <textarea name="system.details.personality">{{system.details.personality}}</textarea>
                <label>{{ localize "ELITYAWORLD.Psychology" }}</label>
                <textarea name="system.details.psychology">{{system.details.psychology}}</textarea>
                <label>{{ localize "ELITYAWORLD.Phobia" }}</label>
                <textarea name="system.details.phobia">{{system.details.phobia}}</textarea>
            </div>
            <div class="biography">
                {{editor system.details.biography target="system.details.biography" button=true editable=editable
                owner=owner}}
            </div>
        </div>
    </section>

</form>