<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'ELITYAWORLD.NewItem' }}"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{ localize "ELITYAWORLD.ArmorType"}}</th>
                <th>{{ localize "ELITYAWORLD.ArmorValue"}}</th>
                <th>{{ localize "ELITYAWORLD.Quality"}}</th>
                <th>{{ localize "ELITYAWORLD.Usury"}}</th>
            </tr>
            <tr>
                <td>
                   <select name="system.armorType">
                        {{selectOptions config.armorTypes selected=system.armorType localize=true}}
                   </select> 
                </td>
                <td>
                    <input type="number" name="system.armor" value="{{system.armor}}">
                </td>
                <td>
                    <input name="system.quality" type="text" value="{{system.quality}}">
                </td>
                <td>
                    <input name="system.usury.value" type="number" value="{{system.usury.value}}" data-dtype="Number">
                    <span>/</span>
                    <input type="number" name="system.usury.max" value="{{system.usury.max}}">
                </td>
            </tr>
        </table>
        {{editor system.itemDescription.description target="system.itemDescription.description" button=true owner=owner editable=editable}}
    </div>
</form>