<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'ELITYAWORLD.NewItem' }}"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{ localize "ELITYAWORLD.ConsumableType"}}</th>
                <th>{{ localize "ELITYAWORLD.Weight"}}</th>
                <th>{{ localize "ELITYAWORLD.Rarity"}}</th>
                <th>{{ localize "ELITYAWORLD.Usage"}}</th>
                <th>{{ localize "ELITYAWORLD.Effect"}}</th>
            </tr>
            <tr>
                <td>
                   <select name="system.consumableType">
                        {{selectOptions config.consumableTypes selected=system.consumableType localize=true}}
                   </select> 
                </td>
                <td>
                    <input name="system.weight" type="number" value="{{system.weight}}">
                </td>
                <td>
                    <input name="system.rarity" type="number" value="{{system.rarity}}">
                </td>
                <td>
                    <input name="system.usage.value" type="number" value="{{system.usage.value}}" data-dtype="Number">
                    <span>/</span>
                    <input type="number" name="system.usage.max" value="{{system.usage.max}}" >
                </td>
                <td>
                    <input name="system.effect" type="text" value="{{system.effect}}">
                </td>
            </tr>
        </table>
        {{editor system.itemDescription.description target="system.itemDescription.description" button=true owner=owner editable=editable}}
    </div>
</form>
