<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'ELITYAWORLD.NewItem' }}"/></h1>
        <aside class="weapon-characteristics">
            <div class="weapon-category">
                <label>{{ localize "ELITYAWORLD.WeaponCategory"}}</label>
                <select name="system.weaponCategory">
                {{selectOptions config.weaponCategories selected=system.weaponCategory localize=true}}
                </select>
            </div>
            <div class="weapon-weight">
                <label>{{ localize "ELITYAWORLD.Weight"}}</label>
                <input type="number" name="system.weight" value="{{system.weight}}" title="{{localize "ELITYAWORLD.Weight"}}">
            </div>
        </aside>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{ localize "ELITYAWORLD.Ability"}}</th>
                <th>{{ localize "ELITYAWORLD.WeaponType"}}</th>
                <th>{{ localize "ELITYAWORLD.Quality"}}</th>
                <th>{{ localize "ELITYAWORLD.Usury"}}</th>
                <th>{{ localize "ELITYAWORLD.Damages"}}</th>
            </tr>
            <tr>
                <td>
                   <select name="system.ability">
                        {{selectOptions config.abilities selected=system.ability localize=true}}
                   </select> 
                </td>
                <td>
                    <select name="system.weaponType">
                        {{selectOptions config.weaponTypes selected=system.weaponType localize=true}}
                    </select>
                </td>
                <td>
                    <input name="system.quality" type="text" value="{{system.quality}}">
                </td>
                <td>
                    <input name="system.usury.value" type="number" value="{{system.usury.value}}" data-dtype="Number">
                    <span>/</span>
                    <input type="number" name="system.usury.max" value="{{system.usury.max}}">
                </td>
                <td>
                    <input name="system.formula" type="text" value="{{system.formula}}">
                </td>
            </tr>
        </table>
        {{editor system.itemDescription.description target="system.itemDescription.description" button=true owner=owner editable=editable}}
    </div>
</form>
